
@{
    ViewBag.Title = "Upload";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Models.TinTuc
<h2>Upload</h2>


@using (Html.BeginForm("Upload", "TinTuc", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" })<br />

        @Html.HiddenFor(Model=>Model.matt, "value")
        <input type="submit" value="upload" />
    </div>
}

