
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Bạn vừa mua hàng thành công
</div>
<a href="/Home/Index"><button id="btnContinue" class="btn" style="background-color:yellow;">Tiếp tục mua hàng</button></a>

